[all:vars]
ansible_user='ubuntu'
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[kube_masters]
%{ for ip in kube_masters ~}
${ip} kubernetes_role='master'
%{ endfor ~}

[kube_nodes]
%{ for ip in kube_nodes ~}
${ip} kubernetes_role='node'
%{ endfor ~}
